API_BASE_URL=http://10.0.2.2:3000/api
# API_BASE_URL=http://localhost:3000/api (Web/iOS Simulator)
# API_BASE_URL=http://192.168.1.xxx:3000/api (Real Device via Wi-Fi)

# Pusher Config
PUSHER_KEY=your_key
PUSHER_CLUSTER=ap1